
        body {
          font-family: Arial, sans-serif;
          margin: 20px;
          background-color: rgb(221, 213, 203);
        }
    
        label {
          margin-right: 10px;
        }
    
        select, input, button {
          margin-bottom: 10px;
        }
      